#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--accent-dark);
  color: var(--accent-bright);
}

#loader .container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loader .container > * {
  z-index: 2;
}

#loader .help {
  text-align: center;
  display: block;
  margin-top: 16px;
  font-size: 20px;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 64px;
  max-width: 50%;
  height: auto;
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  stroke: var(--attention);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
 }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
 }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
 }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
 }
}